
@{
    ViewBag.Title = "About";
}

<h2>@ViewBag.Title...</h2>
<h3>@ViewBag.Message</h3>

<p>An application to manage book-reading events. It will allow managing events across Delhi NCR. A book reading event is where book lovers come together for a community reading of their favourite book. One or more readers read the book loudly and optionally people even play different roles from the book!</p>

